@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header{
    background-color: #002147;
    color: white;
    padding: 20px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container p{
    color: #555;
}

.cta-button{
    background-color: #f8b400;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size:  18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}

.cta-button:hover{
    background-color: #e6a100;
    transform: scale(1.05);
}
