*{
    margin: 0;
    padding: 0;
}

.navbar-container{
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: solid 1px white;
}

.navbar-container ul{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.navbar-container ul li{
    list-style: none;
}

.navbar-container ul li:hover{
    transform: scale(1.1);
}

.navbar-link{
    text-decoration: none;
    color: white;
    transition: 0.3ms;
}
